<script lang="ts" setup>
import ModalsResp from "./components/Modals/Resp.vue"
import ModalsPassword from "./components/Modals/Password.vue"
import { theme } from 'ant-design-vue'
import mnMN from 'ant-design-vue/es/locale/mn_MN';
import dayjs from 'dayjs';
import 'dayjs/locale/mn';
import useAuthStore from "./stores/auth";
dayjs.locale('mn');
const authStore = useAuthStore()
const router = useRouter()
useEvent.on('logout', () => {
    authStore.logout();
    router.push('/login')
})
</script>

<template>
    <a-config-provider :locale="mnMN" :theme="{
        algorithm: theme.compactAlgorithm,
        token: {},
    }">
        <component :is="`${$route.meta.layout}`">
            <router-view />
        </component>
        <modals-resp />
        <modals-password />
    </a-config-provider>
</template>
