<script lang="ts" setup>
import QrcodeVue from "qrcode.vue";
import useAuthStore from "../stores/auth";
import useRequest from "../composables/useRequest";
const authStore = useAuthStore();
const router = useRouter();
const info = ref(null);
const list = ref([]);
const modal = ref(false);
const sendLoading = ref(false);
const createLoading = ref(false);
const respo = ref(null);
const infoLoading = ref(false);
const payload = ref({
    totalAmount: 112.0,
    totalVAT: 10.0,
    totalCityTax: 2,
    districtCode: "3502",
    branchNo: "1",
    merchantTin: "37900846788",
    posNo: "10003254",
    customerTin: null,
    consumerNo: null,
    type: "B2C_RECEIPT",
    inactiveId: null,
    invoiceId: null,
    reportMonth: null,
    data: null,
    receipts: [
        {
            totalAmount: 112.0,
            totalVAT: 10.0,
            totalCityTax: 2,
            taxType: "VAT_ABLE",
            merchantTin: "37900846788",
            bankAccountNo: null,
            data: null,
            items: [
                {
                    name: "TEST",
                    barCode: "",
                    barCodeType: "UNDEFINED",
                    classificationCode: "2352010",
                    taxProducCode: null,
                    measureUnit: "p",
                    qty: 1.0,
                    unitPrice: 112.0,
                    totalVAT: 10.0,
                    totalCityTax: 2,
                    totalAmount: 112.0,
                    data: null,
                },
            ],
        },
    ],
    payments: [
        {
            code: "CASH",
            exchangeCode: null,
            status: "PAID",
            paidAmount: 112.0,
            data: null,
        },
    ],
});
const columns = [
    {
        title: "#",
        dataIndex: "tin",
        key: "tin",
        width: 100,
    },
    {
        title: "Нэр",
        dataIndex: "name",
        key: "name",
    },
];

const logout = () => {
    authStore.logout();
    router.push("/login");
};

const sendData = async () => {
    sendLoading.value = true;
    const resp = await useRequest.post("/send", {
        path: "rest/sendData",
    });
    getInfo();
    sendLoading.value = false;
};

const getInfo = async () => {
    infoLoading.value = true;
    const resp = await useRequest.post("/send", {
        path: "rest/info",
    });
    list.value = resp.data.merchants;
    info.value = resp.data;
    infoLoading.value = false;
};

const setPassword = () => {
    useEvent.emit("modal:password:show", {});
};

const setTotal = (e, u) => {
    const total = e * u;
    payload.value.totalAmount = parseFloat(total.toFixed(2));
    payload.value.receipts[0].totalAmount = parseFloat(total.toFixed(2));
    payload.value.receipts[0].items[0].totalAmount = parseFloat(
        total.toFixed(2)
    );
    payload.value.payments[0].paidAmount = parseFloat(total.toFixed(2));
};

const create = async () => {
    createLoading.value = true;
    const resp = await useRequest.post("/send", {
        path: "rest/receipt",
        data: payload.value,
    });
    getInfo();
    modal.value = true;
    respo.value = resp.data;
    createLoading.value = false;
};

onMounted(() => {
    getInfo();
});
</script>
<template>
    <a-layout style="min-height: 100vh">
        <a-layout-sider mode="inline">
            <a-menu theme="dark" mode="inline">
                <a-menu-item key="2" @click="setPassword()">
                    <span>Нууц үг солих</span>
                </a-menu-item>
                <a-menu-item key="3" @click="logout()">
                    <span>Гарах</span>
                </a-menu-item>
            </a-menu>
        </a-layout-sider>
        <a-layout>
            <a-layout-content style="margin: 16px">
                <div
                    :style="{
                        padding: '24px',
                        background: '#fff',
                        minHeight: '360px',
                    }"
                    class="tw-grid tw-grid-cols-6 tw-gap-4"
                >
                    <a-table
                        :columns="columns"
                        :data-source="list"
                        size="small"
                        :pagination="false"
                        class="tw-col-span-3"
                    >
                    </a-table>
                    <div class="tw-flex tw-space-x-2 tw-col-span-2">
                        <div class="tw-flex-1">
                            <a-form layout="vertical">
                                <a-form-item label="type">
                                    <a-input
                                        size="small"
                                        v-model:value="payload.type"
                                        disabled
                                    ></a-input>
                                </a-form-item>
                                <a-form-item label="Name">
                                    <a-input
                                        size="small"
                                        v-model:value="
                                            payload.receipts[0].items[0].name
                                        "
                                    ></a-input>
                                </a-form-item>
                                <a-form-item label="qty">
                                    <a-input-number
                                        size="small"
                                        class="tw-w-full"
                                        :min="1"
                                        v-model:value="
                                            payload.receipts[0].items[0].qty
                                        "
                                        disabled
                                        @change="
                                            setTotal(
                                                $event,
                                                payload.receipts[0].items[0]
                                                    .unitPrice
                                            )
                                        "
                                    ></a-input-number>
                                </a-form-item>
                                <a-form-item label="unitPrice">
                                    <a-input
                                        size="small"
                                        v-model:value="
                                            payload.receipts[0].items[0]
                                                .unitPrice
                                        "
                                        disabled
                                    ></a-input>
                                </a-form-item>
                                <a-form-item label="unitPrice">
                                    <a-input
                                        size="small"
                                        v-model:value="payload.totalAmount"
                                        disabled
                                    ></a-input>
                                </a-form-item>
                            </a-form>
                            <a-button
                                type="primary"
                                class="tw-w-full"
                                :loading="createLoading"
                                @click="create"
                                >Create Receipt</a-button
                            >
                        </div>
                        <div class="tw-whitespace-break-spaces">
                            {{ payload }}
                        </div>
                    </div>
                    <div
                        class="tw-bg-gray-800 tw-text-gray-300 tw-rounded tw-px-4 tw-py-3 tw-text-[14px]"
                    >
                        <div class="tw-mb-4">
                            <a-button
                                type="primary"
                                class="tw-w-full"
                                :loading="infoLoading"
                                @click="getInfo"
                                >Get information</a-button
                            >
                        </div>
                        <div class="tw-mb-4">
                            <a-button
                                type="primary"
                                class="tw-w-full"
                                :loading="sendLoading"
                                @click="sendData"
                                >Send Data</a-button
                            >
                        </div>
                        <template v-if="info">
                            <div class="tw-flex tw-justify-between tw-mb-2">
                                <div>operatorName:</div>
                                <div class="tw-text-right">
                                    {{ info.operatorName }}
                                </div>
                            </div>
                            <div class="tw-flex tw-justify-between tw-mb-2">
                                <div>leftLotteries:</div>
                                <div class="tw-text-right">
                                    {{ info.leftLotteries }}
                                </div>
                            </div>
                            <div class="tw-flex tw-justify-between tw-mb-2">
                                <div>lastSentDate:</div>
                                <div class="tw-text-right">
                                    {{ info.lastSentDate }}
                                </div>
                            </div>
                            <div class="tw-flex tw-justify-between tw-mb-2">
                                <div>posId:</div>
                                <div class="tw-text-right">
                                    {{ info.posId }}
                                </div>
                            </div>
                            <div class="tw-flex tw-justify-between tw-mb-2">
                                <div>posNo:</div>
                                <div class="tw-text-right">
                                    {{ info.posNo }}
                                </div>
                            </div>
                            <div class="tw-flex tw-justify-between tw-mb-2">
                                <div>version:</div>
                                <div class="tw-text-right">
                                    {{ info.version }}
                                </div>
                            </div>
                        </template>
                        <a-modal
                            v-model:open="modal"
                            :title="null"
                            :footer="null"
                            :width="230"
                        >
                            <qrcode-vue
                                :size="200"
                                level="H"
                                v-if="respo"
                                :value="respo.qrData"
                                class="tw-mt-4"
                            ></qrcode-vue>
                        </a-modal>
                    </div>
                </div>
            </a-layout-content>
        </a-layout>
    </a-layout>
</template>
