<script setup lang="ts">
import useRequest from '../../composables/useRequest';

const visible = ref(false)
const password = ref("")
useEvent.on('modal:password:show', () => {
    visible.value = true;
})

const save = async () => {
    await useRequest.post('/password', {
        password: password.value
    })
    visible.value = false;
    password.value = ""
}
</script>
<template>
    <a-modal v-model:open="visible" @Ok="save" :destroyOnClose="true">
        <a-form layout="vertical">
            <a-form-item label="Нууц үг">
                <a-input v-model:value="password" placeholder="Нууц үг..."></a-input>
            </a-form-item>
        </a-form>
    </a-modal>
</template>

