<script setup lang="ts">
const visible = ref(false)
const jsonresp = ref()
useEvent.on('modal:resp:show', (resp) => {
    visible.value = true;
    jsonresp.value = resp
})

</script>
<template>
    <a-modal v-model:open="visible" @ok="visible = false" :destroyOnClose="true">
        <div class="tw-whitespace-pre">
            {{ jsonresp }}
        </div>
    </a-modal>
</template>

